/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom variables start*/

:root {
    --ff-primary: 'Roboto', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --clr-darknavy: #242742;
    --clr-palenavy: #36384D;
    --clr-white: #ffffff;
    --clr-gray-25: rgba(25, 24, 43, 0.25);
    --clr-vermellion: #FF6155; 
    --clr-vermellion-15: rgba(255, 97, 85, 0.15);
    --clr-gradient1: linear-gradient(#FF6A3A 0%, #FF527B 100%);

    --bs-button: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
    --bs-body: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
}

/* Custom variables end*/
body {
    font-family: var(--ff-primary);
    color: var(--clr-darknavy);
    font-weight: var(--fw-regular);
    line-height: 150%;
}

.hero-image {
    width: 100%;
}

.signup-screen, .signup-section {
    display: grid;
    gap: 2.5rem;
}

.signup-section {
    padding: 0 1.5rem 2rem;

}

.signup-content, .success-content {
    display: grid;
    gap: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 100%;
    font-weight: var(--fw-bold);
}

p, li {
    line-height: 150%;
}

#email-placeholder {
    font-weight: var(--fw-bold);
}

li {
    background: url(assets/images/icon-success.svg) no-repeat left top;
    background-size: 1.25rem;
    background-position: left 0.15rem;
    padding: 0 0 0 2rem;
}

li:not(:last-child){
    padding-bottom: 0.75rem;
}

form {
    display: grid;
    gap: 1rem;
}

.email-label{
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

label {
    font-weight: var(--fw-bold);
    cursor: pointer;
}

input, a {
    width: 100%;
    border-radius: 0.5rem;
}

input[type="email"] {
    padding: 1rem 1.5rem;
    border: 1px solid var(--clr-gray-25);
}

input[type="email"]:focus {
    outline: none;
    border: 1px solid var(--clr-darknavy);
}

input[type="email"]::placeholder {
    color: var(--clr-darknavy);
    opacity: 0.5;
}

input[type="submit"], a {
    padding: 1rem;
    border: none;
    background-color: var(--clr-darknavy);
    color: var(--clr-white);
    font-weight: var(--fw-bold);
}

.error-msg {
    color: var(--clr-vermellion);
    font-weight: var(--fw-bold);
}

.success-message {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    gap: 4rem;
    padding: 9rem 1.5rem 2rem;
}

.success-icon {
    padding-bottom: 2.5rem;
}

a {
    text-decoration: none;
    text-align: center;
}

input[type="submit"]:hover, a:hover {
    background-image: var(--clr-gradient1);
    box-shadow: var(--bs-button);
}


@media screen and (min-width: 90rem) {
    
    body {
        background-color: var(--clr-darknavy);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    main {
        background-color: var(--clr-white);
        /* width: 58rem; */
        height: fit-content;
        padding: 1.5rem;
        border-radius: 2.25rem;
    }

    .signup-screen {
        grid-template-columns: 1fr min-content;
    }

    .hero-image {
        order: 1;
        width: auto;
    }

    .signup-section{
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 1.5rem;
    }

    .signup-content {
        width: 23rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    form {
        gap: 1.5rem;
    }

    .success-message {
        width: 31.5rem;
        height: fit-content;
        padding: 2.5rem;
        gap: 2.5rem;
    }

    .success-icon {
        padding-bottom: 0.5rem;
    }
}





/* error state */

input[type="email"].email-error-state {
    border: 1px solid var(--clr-vermellion);
    background-color: var(--clr-vermellion-15);
    color: var(--clr-vermellion);
}

.hide, .no-error {
    display: none;
}


/* links */

/* li images, format:
https://stackoverflow.com/questions/52347084/positioning-a-svg-icon-as-list-style-image */